.all-btns{
    text-align: center;
    height: 20vh;
    width: 100%;
    margin-top: 70px;
}

.menu-btns{
    width: 170px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: #034C80; 
    border: none;  
}
.menu-btns:hover {
    background-color: #034C80;
    color: #FFFFFF;
  }
  .card-company{
    width:500px; 
    border:2px; 
    background-color:#f1f1f1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-items: center;
}
.card-size{
    width: 300px;
    height: 55px;
    border-radius: 10px;
}
.text-color{
    background-color: #034C80;
}
.btn-get{
    color: #FBFBFB;
    background-color: #034C80;
    width: 80px;
    border: none;
    border-radius: 5px;
    
}

.btn-del{
    color: #FBFBFB;
    background-color: #AA0000;
    width: 80px;
    border: none;
    border-radius: 5px;
    
}