{% extends "base.html" %}
{% block title %} Notifications {% endblock %}

{% block css%}
<link rel="stylesheet" href="{{url_for('static', filename='style/notifications/notifications.css')}}">
{% endblock %}

{% block content %}
<div class="container form-brand mt-3">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 p-5">
            
                <div class="card card-notification card-body shadow-card p-4">
                    <div><button class="btn-noti sm-text" type="submit">Read All</button></div>

                    <div class="row">
                        
                        <div class="mt-1">
                            <div class="card card-body shadow-card read-inner-box card-size">
                                <div class="d-flex flex-row">
                                    <div class="d-flex flex-column">
                                        <p class="card-title-custom my-0 unread-text-color"><b>KOPA SAMSU</b> wants crate a company</p>
                                        <p class="my-0 text-muted unread-text-color" style="font-size: 0.7rem;">6 min ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        
                        <div class="mt-1">
                            <div class="card card-body shadow-card read-inner-box card-size">
                                <div class="d-flex flex-row">
                                    <div class="d-flex flex-column">
                                        <p class="card-title-custom my-0 unread-text-color"><b>KOPA SAMSU</b> wants crate a company</p>
                                        <p class="my-0 text-muted unread-text-color" style="font-size: 0.7rem;">6 min ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        
                            <div class="mt-1">
                                <div class="card card-body shadow-card unread-inner-box card-size">
                                    <div class="d-flex flex-row">
                                        <div class="d-flex flex-column">
                                            <p class="card-title-custom my-0 read-text-color"><b>KOPA SAMSU</b> wants crate a company</p>
                                            <p class="my-0 text-muted read-text-color" style="font-size: 0.7rem;">6 min ago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    <div class="row">
                        
                        <div class="mt-1">
                            <div class="card card-body shadow-card unread-inner-box card-size">
                                <div class="d-flex flex-row">
                                    <div class="d-flex flex-column">
                                        <p class="card-title-custom my-0 read-text-color"><b>KOPA SAMSU</b> wants crate a company</p>
                                        <p class="my-0 text-muted read-text-color" style="font-size: 0.7rem;">6 min ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
                </div>
            
        </div>
    </div>
</div>
{% endblock %}