{% extends "base.html" %}
{% block title %} Company setting {% endblock %}

{% block css%}
<link rel="stylesheet" href="{{url_for('static', filename='style/companies/company-settings-layout.css')}}">
{% endblock %}



{% block content %}

    <div class="all-btns">
        <a href="{{url_for('company.view_company', id=current_user.profile.company.id)}}"><button class="menu-btns btn-light" type="button">View Company</button></a>
        <a href="{{url_for('company.edit_company')}}"><button class="menu-btns btn-light" type="button">Edit Company</button></a>
        <a href="{{url_for('company.create_flight')}}"><button class="menu-btns btn-light" type="button">Create Flight</button></a>
        <a href="{{url_for('company.edit_flight')}}"><button class="menu-btns btn-light mx-1" type="button">Edit Flight</button></a>
        <a href="{{url_for('company.add_planes')}}"><button class="menu-btns btn-light mx-1" type="button">Add Plane</button></a>
        <a href="{{url_for('company.edit_planes')}}"><button class="menu-btns btn-light mx-1" type="button">Edit Plane</button></a>
        <a href="{{url_for('company.create_route')}}"><button class="menu-btns btn-light mx-1" type="button">Create Route</button></a>
    </div>

{% block sub_content %}

{% endblock %}

{% endblock %}