{% extends "base.html" %}
{% block title %} View Company {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='style/companies/company-settings-layout.css')}}">
{% endblock %}

{% block content %}
<div class="container form-brand mt-5">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 ps-5">
            <div>
                <div class="card card-company card-body py-5">
                  <form method="POST" class="w-100">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {% if form.origin.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.origin.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.origin(class="form-control", id="dob") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {% if form.destination.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.destination.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.destination(class="form-control", id="dob") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {% if form.distance.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.distance.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.distance(class="form-control", id="dob") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {% if form.duration.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.duration.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.duration(class="form-control", id="dob") }}
                        {% endif %}
                    </div>
                    <div class="mt-2">
                        {{form.save(class="btn-get btn btn-sm mt-2 btn-update")}}
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container form-brand mt-1">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 ps-5">
            <div>
                <div class="card card-company card-body shadow-card p-4">
                    <div class="row">    
                        <div class="mt-1">
                            <div class="card card-body shadow-card card-size">
                                <div class="d-flex flex-row">
                                    <div class="d-flex flex-column text-color">
                                        Boarding Point
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">    
                        <div class="mt-1">
                            <div class="card card-body shadow-card card-size">
                                <div class="d-flex flex-row">
                                    <div class="d-flex flex-column text-color">
                                        Destination Point
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">    
                        <div class="mt-1">
                            <div class="card card-body shadow-card card-size">
                                <div class="d-flex flex-row">
                                    <div class="d-flex flex-column text-color">
                                        Distance
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">    
                        <div class="mt-1">
                            <div class="card card-body shadow-card card-size">
                                <div class="d-flex flex-row">
                                    <div class="d-flex flex-column text-color">
                                        Duration
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <button class="btn-get mt-1" type="submit">Create</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}










