{% extends "company/company-settings-layout.html" %}
{% block title %} Create Flight {% endblock %}

{% block sub_content %}
<div class="container form-brand mt-1">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 ps-5">
                <div class="card card-company card-body shadow-card p-4">
                <form method="POST" class="w-100">
                    {{ form.hidden_tag() }}
                    <div class="mt-4">
                        <div class="mb-2">
                            {% if form.flight_name.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.flight_name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.flight_name(class="form-control", id="flight_name") }}
                            {% endif %}
                        </div>

                        <div class="mt-4 mb-2">
                            <select name="plane-name" class="form-control" id="plane-name">
                                {% if len(airplanes) <= 0 %}
                                <option value="" class="disabled">No Airplane Found</option>
                                {% else %}
                                <option value="" selected class="disabled">Select Airplane</option>
                                {% for plane in airplanes %}
                                <option value="{{ plane.id }}">{{ plane.airplane_name }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <!-- FlightClass -->
                        <div class="mt-4 mb-2">
                            {% if form.business_class.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.business_class.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.business_class(class="form-control", id="business_class") }}
                            {% endif %}
                        </div>
                        <div class="mt-4 mb-2">
                            {% if form.economy_class.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.economy_class.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.economy_class(class="form-control", id="economy_class") }}
                            {% endif %}
                        </div>
                        <!--  -->
                        <div class="mt-4 mb-2">
                            <select name="route-name" class="form-control" id="route-name">
                                {% if len(routes) <= 0 %}
                                <option value="" class="disabled">No Route Found</option>
                                {% else %}
                                <option value="" disabled selected>Select Route</option>
                                {% for route in routes %}
                                <option value="{{ route.id }}">{{ route.origin }} - {{ route.destination }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="mt-4">
                            <div class="mb-2">
                                {% if form.departure_time.errors %}
                                {{ form.departure_time(class="form-control ", id="airplane_name") }}
                                <div class="invalid-feedback">
                                    {% for error in form.departure_time.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.departure_time(class="form-control", id="airplane_name") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="mt-2">
                            {{form.save(class="btn btn-get")}}
                        </div>
                    </div>
                </form>
                </div>
        </div>
    </div>
</div>
{% endblock %}