{% extends "base.html" %}
{% block title %} View Company {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='style/companies/company-settings-layout.css')}}">
{% endblock %}

{% block content %}
<div class="container form-brand mt-5">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 ps-5">
            <div>
                <div class="card card-company card-body py-5">
                  <form method="POST" class="w-100">
                    {{ form.hidden_tag() }}
                    <div class="mb-2">
                        {% if form.company_name.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.company_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.company_name(class="form-control", id="dob") }}
                        {% endif %}
                    </div>
                        {{form.save(class="btn-get btn btn-sm mt-2 btn-update")}}
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}