{% extends "base.html" %}
{% block title %} View Company {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='style/companies/company-settings-layout.css')}}">
{% endblock %}

{% block content %}
<div class="container mt-1">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div>
        <img src="{{url_for('static', filename= company.cover_photo)}}" alt="Cover photo"
          class="cover-photo">

      </div>
      <div class="d-flex-custom">
        <div class="profile-photo-container d-flex">
          <img src="{{url_for('static', filename= company.profile_photo)}}" alt="Profile Photo"
            class="profile-photo">
          <div class="mt-3 mx-4">
            <strong class="ts">{{ company.company_name }}</strong>
            <div class="text-muted">{{company.getFoundedDate()}}</div>

          </div>
          <div class="mt-3 ms-auto"><button class="btn-book-now" type="submit">Book Now</button></div>

        </div>

      </div>
      <div class="mt-3 mx-1 text-cus col-md-12">
        <b>Fly With Us</b>
        <div class="text-muted">
          As one of the largest and most experienced global airlines throughout the COVID-19 crisis, you can rely on us
          to take you on your next journey safely
        </div>
      </div>

      <div class="row d-flex-3 mt-3  mx-3 col-md-12">
        <div class="card mx-2 my-3 p-0" style="width: 16rem;">
          <img class="card-img-top" src="https://cdn.britannica.com/69/155469-131-14083F59/airplane-flight.jpg"
            alt="Card image cap">
          <div class="card-body card-footer" ; style="text-align: center;">
            <a class="btn btn-a" href="{{url_for('mains.explore')}}" style="text-decoration: none">Discover a trip</a>
          </div>
        </div>
        <div class="card mx-2 my-3 p-0" style="width: 16rem;">
          <img class="card-img-top" src="https://cdn.britannica.com/69/155469-131-14083F59/airplane-flight.jpg"
            alt="Card image cap">
          <div class="card-body card-footer" ; style="text-align: center;">
            <a class="btn btn-a" href="#" style="text-decoration: none">Flights</a>
          </div>
        </div>
        <div class="card mx-2 my-3 p-0" style="width: 16rem;">
          <img class="card-img-top" src="https://cdn.britannica.com/69/155469-131-14083F59/airplane-flight.jpg"
            alt="Card image cap">
          <div class="card-body card-footer" ; style="text-align: center;">
            <a class="btn btn-a" href="#" style="text-decoration: none">Travel requirements</a>
          </div>
        </div>
        <div class="card mx-2 my-3 p-0" style="width: 16rem;">
          <img class="card-img-top" src="https://cdn.britannica.com/69/155469-131-14083F59/airplane-flight.jpg"
            alt="Card image cap">
          <div class="card-body card-footer" ; style="text-align: center;">
            <a class="btn btn-a" href="#" style="text-decoration: none">Safty Measures</a>
          </div>
        </div>
        <div class="card mx-2 my-3 p-0" style="width: 16rem;">
          <img class="card-img-top" src="https://cdn.britannica.com/69/155469-131-14083F59/airplane-flight.jpg"
            alt="Card image cap">
          <div class="card-body card-footer" ; style="text-align: center;">
            <a class="btn btn-a" href="#" style="text-decoration: none">Contact US</a>
          </div>
        </div>
      </div>



      <div class="my-3">
        <div class="container form-brand mt-1">
          <div class="row">

            <div class="card card-view-company card-body shadow-card p-4">
              <b class="ts">User Reviews</b>
              
              <div class="row mt-1">

                <div class="card card-body shadow-card my-1">

                    <b>Shamsur Rahman ****</b>
                    <div class="text-muted">very good airlines, i'd like to go saint martin for my project next time.
                    </div>

                </div>
                <div class="card card-body shadow-card my-1">

                    <b>Shamsur Rahman ****</b>
                    <div class="text-muted">very good airlines, i'd like to go saint martin for my project next time.
                    </div>

                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}