{% extends "base.html" %}
{% block title %} View Company {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='style/companies/company-settings-layout.css')}}">
{% endblock %}

{% block content %}
<div class="container mt-1">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div>
        <img src="{{url_for('static', filename= company.cover_photo)}}" alt="Cover photo" class="cover-photo">
      </div>
      <div class="d-flex-custom">
        <div class="profile-photo-container d-flex">
          <img src="{{url_for('static', filename= company.profile_photo)}}" alt="Profile Photo" class="profile-photo">
          <div class="mt-3 mx-4">
            <strong class="ts">{{ company.company_name }}</strong>
            <div class="text-muted">{{company.getFoundedDate()}}</div>
          </div>
          <div class="mt-3 ms-auto"><button class="btn-book-now" type="submit">Book Now</button></div>
        </div>
      </div>
      <div class="mt-3 mx-1 text-cus col-md-12">
        <b>Fly With Us</b>
        <div class="text-muted">
          As one of the largest and most experienced global airlines throughout the COVID-19 crisis, you can rely on us
          to take you on your next journey safely
        </div>
      </div>
      <div class="row d-flex-3 mt-3  mx-3 col-md-12">
        <div class="card mx-2 my-3 p-0" style="width: 16rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1569629743817-70d8db6c323b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1198&q=80"
            alt="Card image cap">
          <div class="card-body card-footer" ; style="text-align: center;">
            <a class="btn btn-a" href="{{url_for('mains.explore')}}" style="text-decoration: none">Discover a trip</a>
          </div>
        </div>
        <div class="card mx-2 my-3 p-0" style="width: 16rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1464037866556-6812c9d1c72e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="Card image cap">
          <div class="card-body card-footer" ; style="text-align: center;">
            <a class="btn btn-a" href="#" style="text-decoration: none">Flights</a>
          </div>
        </div>
        <div class="card mx-2 my-3 p-0" style="width: 16rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1483375801503-374c5f660610?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="Card image cap">
          <div class="card-body card-footer" ; style="text-align: center;">
            <a class="btn btn-a" href="#" style="text-decoration: none">Travel requirements</a>
          </div>
        </div>
        <div class="card mx-2 my-3 p-0" style="width: 16rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1464037866556-6812c9d1c72e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="Card image cap">
          <div class="card-body card-footer" ; style="text-align: center;">
            <a class="btn btn-a" href="#" style="text-decoration: none">Safty Measures</a>
          </div>
        </div>
        <div class="card mx-2 my-3 p-0" style="width: 16rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1529074963764-98f45c47344b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1186&q=80"
            alt="Card image cap">
          <div class="card-body card-footer" ; style="text-align: center;">
            <a class="btn btn-a" href="#" style="text-decoration: none">Contact US</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}