.profile-photo {
    border: 1px solid #f5f4f4;
    margin-top: -75px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.profile-name {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif !important;
}
