{% extends "base.html" %}
{% block title %} Flights {% endblock %}

{% block css%}
<!-- <link rel="stylesheet" href="{{url_for('static', filename='style/profiles/account-setting-layout.css')}}"> -->
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        {% for flight in flights %}
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ flight.flight_name }}</h5>
                    <p class="card-text">
                        Flight: {{ flight.flight_name }}<br>
                        Departure Time: {{ flight.depart_time }}<br>
                        Airplane Model: {{ flight.airplane.airplane_model }}<br>
                        Airplane Capacity: {{ flight.airplane.passenger_capacity }} People(s)<br>
                        Time Duration: {{ flight.route.duration }} Hour
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="w-100 btn btn-primary">Book the flight</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}