{% extends "base.html" %}
{% block title %} Flights {% endblock %}

{% block css%}
<link rel="stylesheet" href="{{url_for('static', filename='style/reservation/bookflight.css')}}">
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        {% for flight in flights %}
        <div class="col-sm-6 mb-3">
                <div class="card card-company card-body shadow-card p-4 w-100 card-image">
                    <h5 class="">{{ flight.flight_name }}</h5>
                    <p>
                        <b>Flight:</b> {{ flight.flight_name }}<br>
                        <b>Departure Time:</b> {{ flight.depart_time }}<br>
                        <b>Airplane Model:</b> {{ flight.airplane.airplane_model }}<br>
                        <b>Airplane Capacity:</b> {{ flight.airplane.passenger_capacity }} People(s)<br>
                        <b>Time Duration:</b> {{ flight.route.duration }} Hour
                    </p>
                    <a href="{{url_for('reservations.payment')}}" class="w-100 btn btn-dark">Book the flight</a>

                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}