.all-btns{
    text-align: center;
    height: 20vh;
    width: 100%;
    margin-top: 70px;
}

.menu-btns{
    width: 170px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: #034C80; 
    border: none;  
}
.menu-btns:hover {
    background-color: #034C80;
    color: #FFFFFF;
  }
  .card-r{
    width:500px; 
    border:2px; 
    background-color:#f1f1f1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-items: center;
}
.btn-update, .btn-delete{
    background-color: #034C80;
    min-width: 80px;
    border-radius:0.3rem;
}
.btn-delete{
    background-color: crimson;
    color: #f1f1f1;
    min-width: 80px;
    border-radius:0.3rem;
}
.btn-delete:hover {
    color: #f1f1f1;
}
.cover-photo {
    height: 210px;
    width: 100%;
    border-radius: 10px;
}

.profile-photo {
    height: 200px;
    width: 200px;
    border: 2px solid #f5f4f4;
}

@media only screen and (max-width: 992px) {
    .cover-photo {
        height: 180px;
    }
}
.card-link {
    border: 0;
    background-color: #fbfbfb;
    color: #101010;
}
.system-status {
    font-weight: bold;
    color: #101010;
}
.card-details {
    font-weight: bold;
    font-size: 2.4rem;
    color: #101010;
}
.card-link:hover {
    color: #101010;
}
.card-link-a {
    text-decoration: none;
}
.btn-search {
    min-width: 200px;
}
.btn-search:hover {
   color: #569cdc
}
.user-font {
    font-weight: bold;
    font-size: 1.2rem;
}