{% extends "base.html" %}
{% block title %} Cox's Bazar {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='style/mains/explore.css')}}">
{% endblock %}

{% block content %}

<div class="container my-1">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="image-size" src="{{url_for('static', filename='image/tour_place/cox1.jpg')}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="image-size" src="{{url_for('static', filename='image/tour_place/cox2.jpg')}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="image-size" src="{{url_for('static', filename='image/tour_place/cox3.jpg')}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="image-size" src="{{url_for('static', filename='image/tour_place/cox4.jpg')}}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="text-color mt-2"><b>Cox's Bazar</b></div>
              <div class="d-flex my-1">
                  <div>
                    The modern Cox's Bazar derives its name from Captain Hiram Cox, an officer of the British East India Company, a Superintendent of Palongkee outpost. To commemorate his role in refugee rehabilitation work, a market was established and named after him. <br><br>
                    The city covers an area of 23.4 km2 (9.0 sq mi) with 27 mahallas and 9 wards and as of 2011 had a population of 265,500.Cox's Bazar is connected by road and air with Chittagong.
                  </div>
                  <div class="ms-3">
                    It is not only famous for its long natural sandy sea beach, but it is also famous for the amazing hospitality, fresh seafood, marine drive, kutubdia, Moheshkhali Island, and amazing St. Martin's Island. Mainly Cox's Bazar is famous for its longest natural sandy beach in the world.
                  </div>
              </div>
              <div class="mt-3 text-color">
                <b>Book flight now to visit Cox's Bazar!</b>
            </div>
                <div class="row my-2">
                      <div class="card-l p-0">
                        <div class="d-flex flex-row btn-nav-pills">
                          <button class="p-2 btn-nav pill-btn" onclick="onPillClick('book')">Book</button>
                          <button class="p-2 btn-nav pill-btn" onclick="onPillClick('mytrip')">My Trip</button>
                          <button class="p-2 btn-nav pill-btn" onclick="onPillClick('checkin')">Check In</button>
                          <button class="p-2 btn-nav pill-btn" onclick="onPillClick('flightstatus')">Flight Status</button>
                        </div>
                        <div id="pills-book">
                          <form action="">
                            <div class="row g-0 px-2 mt-4">
                              <div class="col form-floating">
                                <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" />
                                <label for="floatingTextarea">From</label>
                              </div>
                              <div class="col form-floating">
                                <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" />
                                <label for="floatingTextarea">To</label>
                              </div>
                              <div class="col">
                                <select class="form-control" style="height: 100%;" name="" id="">
                                  <option value="">
                                    Select Passenger/Class
                                  </option>
                                  <option value="">
                                    Economy
                                  </option>
                                  <option value="">
                                    Business
                                  </option>
                                  <option value="">
                                    Premium
                                  </option>
                                </select>
                              </div>
                              <div class="col">
                                <input type="date" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                  style="height: 100%;" />
                              </div>
                            </div>
                            <div class="d-flex flex-row-reverse align-items-center">
                              <button class="sub m-2" type="submit">Show Flights</button>
                            </div>
                          </form>
                        </div>
                        <div id="pills-mytrip" class="d-none">
                          <form action="">
                            <div class="row g-0 px-2 mt-4">
                              <div class="col form-floating">
                                <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" />
                                <label for="floatingTextarea">Booking reference</label>
                              </div>
                              <div class="col form-floating">
                                <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" />
                                <label for="floatingTextarea">Last name</label>
                              </div>
                            </div>
                            <div class="d-flex flex-row-reverse align-items-center">
                              <button class="sub m-2" type="submit">Retrieve booking</button>
                            </div>
                          </form>
                        </div>
                        <div id="pills-checkin" class="d-none">
                          <form action="">
                            <div class="row g-0 px-2 mt-4">
                              <div class="col form-floating">
                                <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" />
                                <label for="floatingTextarea">Booking reference</label>
                              </div>
                              <div class="col form-floating">
                                <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" />
                                <label for="floatingTextarea">Last name</label>
                              </div>
                            </div>
                            <div class="d-flex flex-row-reverse align-items-center">
                              <button class="sub m-2" type="submit">Check-in</button>
                            </div>
                          </form>
                        </div>
                        <div id="pills-flightstatus" class="d-none">
                          <form action="">
                            <div class="row g-0 px-2 mt-4">
                              <div class="col form-floating">
                                <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" />
                                <label for="floatingTextarea">From/Flight number</label>
                              </div>
                              <div class="col form-floating">
                                <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" />
                                <label for="floatingTextarea">To</label>
                              </div>
                              <div class="col">
                                <input type="date" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                  style="height: 100%;" />
                              </div>
                            </div>
                            <div class="d-flex flex-row-reverse align-items-center">
                              <button class="sub m-2" type="submit">Submit</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    
                 
                </div>
              
              <script src="{{url_for('static',filename='JS/mains/homepage.js')}}">
              </script>
        </div>
    </div>
</div>



{% endblock %}