{% extends "base.html" %}
{% block title %} Explore {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='style/mains/explore.css')}}">
{% endblock %}

{% block content %}
<div class="container my-1">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div>
                <img class="image-size" src="{{url_for('static', filename='image/tour_place/explore-cover-pic.jpg')}}" alt="Cover photo"
                class="cover-photo">
            </div>
            
            <div class="row d-flex-3 mt-1  mx-3 col-md-12">
                <div class="text-dec mt-4"><b>Travel anywhere in the world with Q-Air!</b></div>
                <div class="card mx-2 my-3 p-0" style="width: 16rem;">
                  <img class="card-img-top card-img" src="{{url_for('static', filename='image/tour_place/maldives.jpg')}}"
                    alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-color"><b>Maldives</b></h5>
                    <p class="card-text">The islands that make up the Maldives are characterized by beautiful blue oceans and amazing white sandy beaches.</p>
                    </div>
                    <div class="card-footer">
                      <a class="btn btn-custom" href="{{url_for('mains.card_1')}}">See Details</a>
                    </div>
                </div>
                <div class="card mx-2 my-3 p-0" style="width: 16rem;">
                  <img class="card-img-top card-img" src="{{url_for('static', filename='image/tour_place/cox1.jpg')}}"
                    alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-color"><b>Cox's Bazar</b></h5>
                    <p class="card-text">Cox’s Bazar is a town on the southeast coast of Bangladesh. It’s known for its very long, sandy beachfront, stretching from Sea Beach in the north to Kolatoli Beach in the south.</p>
                    </div>
                    <div class="card-footer">
                      <a class="btn btn-custom" href="{{url_for('mains.card_2')}}">See Details</a>
                    </div>
                </div>
                <div class="card mx-2 my-3 p-0" style="width: 16rem;">
                  <img class="card-img-top card-img" src="{{url_for('static', filename='image/tour_place/bali1.jpg')}}"
                    alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-color"><b>Bali</b></h5>
                    <p class="card-text">Bali is a province of Indonesia and the westernmost of the Lesser Sunda Islands.</p>
                    </div>
                    <div class="card-footer">
                      <a class="btn btn-custom" href="{{url_for('mains.card_3')}}">See Details</a>
                    </div>
                </div>
                <div class="card mx-2 my-3 p-0" style="width: 16rem;">
                  <img class="card-img-top card-img" src="{{url_for('static', filename='image/tour_place/ch1.jpg')}}"
                    alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-color"><b>Great Wall of China</b></h5>
                    <p class="card-text">Around 220 B.C.E., Qin Shi Huang, also called the First Emperor, united China. He masterminded the process of uniting the existing walls into one.</p>
                    </div>
                    <div class="card-footer">
                      <a class="btn btn-custom" href="{{url_for('mains.card_4')}}">See Details</a>
                    </div>
                </div>
                <div class="card mx-2 my-3 p-0" style="width: 16rem;">
                  <img class="card-img-top card-img" src="{{url_for('static', filename='image/tour_place/ng4.jpg')}}"
                    alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-color"><b>Niagara Falls</b></h5>
                    <p class="card-text">Niagara Falls is a group of three waterfalls at the southern end of Niagara Gorge, spanning the border between the province of Ontario in Canada and the state of New York in the United States.</p>
                    </div>
                    <div class="card-footer">
                      <a class="btn btn-custom" href="{{url_for('mains.card_5')}}">See Details</a>
                    </div>
                </div>
                <div class="card mx-2 my-3 p-0" style="width: 16rem;">
                  <img class="card-img-top card-img" src="{{url_for('static', filename='image/tour_place/ef1.jpg')}}"
                    alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-color"><b>Eiffel Tower</b></h5>
                    <p class="card-text">The Eiffel Tower is a wrought-iron lattice tower on the Champ de Mars in Paris, France. It is named after the engineer Gustave Eiffel, whose company designed and built the tower.</p>
                    </div>
                    <div class="card-footer">
                      <a class="btn btn-custom" href="{{url_for('mains.card_6')}}">See Details</a>
                    </div>
                </div>
                
                </div>
                
                
        
              </div>
        </div>
    </div>
    
    
</div>

{% endblock %}