{% extends "base.html" %}
{% block title %} Explore {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='style/mains/explore.css')}}">
{% endblock %}

{% block content %}
<div class="container my-1">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div>
                <img src="https://timelinecovers.pro/facebook-cover/download/life-cycle-facebook-cover.jpg" alt="Cover photo"
                class="cover-photo">
            </div>
            
            <div class="row d-flex-3 mt-1  mx-3 col-md-12">
                <div class="text-dec mt-4"><b>Travel anywhere in the world with Q-Air!</b></div>
                <div class="card mx-2 my-3" style="width: 16rem;">
                  <img class="card-img-top" src="https://cdn.britannica.com/69/155469-131-14083F59/airplane-flight.jpg"
                    alt="Card image cap">
                    <h5 class="card-title">Maldives</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <hr>
                  <div class="card-body" ; style="text-align: center;">
                    <a href="#">See Details</a>
                  </div>
                </div>
                <div class="card mx-2 my-3" style="width: 16rem;">
                    <img class="card-img-top" src="https://cdn.britannica.com/69/155469-131-14083F59/airplane-flight.jpg"
                      alt="Card image cap">
                      <h5 class="card-title">Maldives</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <hr>
                    <div class="card-body" ; style="text-align: center;">
                      <a href="#">See Details</a>
                    </div>
                  </div>
                  <div class="card mx-2 my-3" style="width: 16rem;">
                    <img class="card-img-top" src="https://cdn.britannica.com/69/155469-131-14083F59/airplane-flight.jpg"
                      alt="Card image cap">
                      <h5 class="card-title">Maldives</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <hr>
                    <div class="card-body" ; style="text-align: center;">
                      <a href="#">See Details</a>
                    </div>
                  </div>
                  <div class="card mx-2 my-3" style="width: 16rem;">
                    <img class="card-img-top" src="https://cdn.britannica.com/69/155469-131-14083F59/airplane-flight.jpg"
                      alt="Card image cap">
                      <h5 class="card-title">Maldives</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <hr>
                    <div class="card-body" ; style="text-align: center;">
                      <a href="#">See Details</a>
                    </div>
                  </div>
                  <div class="card mx-2 my-3" style="width: 16rem;">
                    <img class="card-img-top" src="https://cdn.britannica.com/69/155469-131-14083F59/airplane-flight.jpg"
                      alt="Card image cap">
                      <h5 class="card-title">Maldives</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <hr>
                    <div class="card-body" ; style="text-align: center;">
                      <a href="#">See Details</a>
                    </div>
                  </div>
                  <div class="card mx-2 my-3" style="width: 16rem;">
                    <img class="card-img-top" src="https://cdn.britannica.com/69/155469-131-14083F59/airplane-flight.jpg"
                      alt="Card image cap">
                      <h5 class="card-title">Maldives</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <hr>
                    <div class="card-body" ; style="text-align: center;">
                      <a href="#">See Details</a>
                    </div>
                  </div>
                
                </div>
                
                
        
              </div>
        </div>
    </div>
    
    
</div>

{% endblock %}