{% extends "base.html" %}
{% block title %} Account Setting {% endblock %}

{% block css%}
<link rel="stylesheet" href="{{url_for('static', filename='style/profiles/account-setting-layout.css')}}">
{% endblock %}

{% block content %}

    <div class="all-btns">
        <a href="{{url_for('profiles.change_profile_info')}}"><button class="menu-btns btn-light" type="button">Edit Profile</button></a>
        <a href="{{url_for('profiles.change_photos')}}"><button class="menu-btns btn-light mx-1" type="button">Change Photos</button></a>
        <a href="{{url_for('profiles.change_password')}}"><button class="menu-btns btn-light mx-1" type="button">Change Password</button></a>
        <a href="{{url_for('profiles.verify_email')}}"><button class="menu-btns btn-light mx-1" type="button">Verify Email</button></a>
        <a href="{{url_for('profiles.change_profile_info')}}"><button class="menu-btns btn-light mx-1" type="button">Deactivate Account</button></a>
    </div>

{% block sub_content %}

{% endblock %}

{% endblock %}