{% extends "base.html" %}
{% block title %} View Profile {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='style/profiles/view-profile.css')}}">
{% endblock %}
{% block content %}
<div class="container mt-1">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <img src="{{ url_for('static', filename='image/default/CoverPhotos/default.png') }}" alt="Cover photo"
                class="cover-photo">
            <div class="d-flex-custom">
                <div class="profile-photo-container d-flex justify-content-center">
                    <img src="{{ url_for('static', filename=profile.profile_photo) }}" alt="Profile Photo"
                        class="profile-photo">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center profile-name">{{ profile.full_name }}</h1>
            {% if profile.address.city and profile.address.country %}
            <p class="text-center my-0">{{ profile.address.city }}, {{ profile.address.country }}</p>
            {% elif profile.address.city and not profile.address.country %}
            <p class="text-center my-0">{{ profile.address.city }}</p>
            {% else %}
            <p class="text-center my-0">{{ profile.address.country }}</p>
            {% endif %}
            {% if profile.address.street %}
            <p class="text-center my-0">{{ profile.address.street }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}