{% extends "base.html" %}
{% block title %} View Profile {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='style/profiles/view-profile.css')}}">
{% endblock %}
{% block content %}
<div class="container mt-1">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div>
                <img src="{{ url_for('static', filename=profile.cover_photo)}}" alt="Cover photo"
                class="cover-photo">
                <a href="{{ url_for('profiles.change_profile_info', id=current_user.profile.id) }}" class="btn btn-sm btn-light text-primary edit-profile-btn">Edit Profile</a>
                <a href="{{ url_for('reservations.view_reservation') }}" class="btn btn-sm btn-light text-primary edit-profile-btn">View Reservations</a>
            </div>
            <div class="d-flex-custom">
                <div class="profile-photo-container d-flex justify-content-center">
                    <img src="{{ url_for('static', filename=profile.profile_photo)}}" alt="Profile Photo"
                        class="profile-photo">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center profile-name">{{ profile.full_name }}</h1>
            {% if profile.dob %}
            <h5 class="text-center my-0 font-color">Born on {{ profile.getDateOfBirth() }}</h5>
            {% endif %}
            {% if profile.address.city and profile.address.country %}
            <h5 class="text-center my-0 font-color">{{ profile.address.city }}, {{ profile.address.country }}</h5>
            {% elif profile.address.city and not profile.address.country %}
            <h5 class="text-center my-0 font-color">{{ profile.address.city }}</h5>
            {% else %}
            <h5 class="text-center my-0 font-color">{{ profile.address.country }}</h5>
            {% endif %}
            {% if profile.address.street %}
            <h5 class="text-center my-0 font-color">Street: {{ profile.address.street }}</h5>
            {% endif %}
            {% if profile.address.postal_code %}
            <h5 class="text-center my-0 font-color">Postal Code: {{ profile.address.postal_code }}</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}