{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block css%}
<link rel="stylesheet" href="{{url_for('static', filename='style/users/log-reg.css')}}">
{% endblock %}

{% block content %}
<div>
    <div class="mt-5 container shadow p-3 mb-5 bg-white rounded d-flex align-items-center"
        style="height: 400px; width:400px; border: 2px;">
        <div class="col-md-8 offset-md-2">
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <p class="mb-0 log-reg-text"><strong>Forget Password</strong></p>
            <input type="checkbox" /><span class="mx-2 log-reg-text"><strong>Remember me</strong></span><br>
            <a href="{{url_for('users.register_user')}}" class="link-dark log-reg-text">Create a new account!</a><br>
            <button type="button" class="btn btn-primary btn-sm mt-2 log-btn">Login</button>
        </div>
    </div>
</div>
{% endblock %}