{% extends "base.html" %}
{% block  title %} Registration {% endblock %}

{% block css%}
<link rel="stylesheet" href="{{url_for('static', filename='style/users/log-reg.css')}}">
{% endblock %}

{% block content %}
<div>
    <div class="mt-5 container shadow p-3 mb-5 bg-white rounded d-flex align-items-center"
        style="height: 400px; width:400px; border: 2px;">
        <div class="col-md-8 offset-md-2">
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="passport" placeholder="Passport Number">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="fullname" placeholder="Full Name">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="mb-1">
                <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password">
            </div>
            <input type="checkbox" /><span class="mx-2 log-reg-text"><strong>Accept terms and conditions</strong></span><br>
            <a href="{{url_for('users.login_user')}}" class="link-dark log-reg-text">Already have an account?</a><br>
            <button type="button" class="btn btn-primary btn-sm mt-2 log-btn">Register</button>
        </div>
    </div>
</div>
{% endblock %}
